<h1>Set up New Track </h1>

<% @errors && @errors.each do |e| %>
    <li><%=e%></li>

<% end %>

<%= form_for(@track) do |f| %>
    <%= f.label("Name:") %>
    <%= f.text_field(:name) %>
    <%=f.label("Laptime:") %>
    <%=f.fields_for :laptimes do |l| %>
        <%=l.label "Time"%>
        <%=l.number_field :time%>
  <%end%>
   
    <%= f.submit %>
<% end %> 